@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-area="Identity" asp-controller="Manage" asp-action="Index">Witaj, @UserManager.GetUserName(User)!</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Rejestracja
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" asp-area="" asp-controller="RegisterUsersForHelpdesk" asp-action="Create">Rejestracja konta klienta</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-controller="RegisterUsersForHelpdesk" asp-action="Create">Rejestracja konta pracownika</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-controller="RegisterTicket" asp-action="Create">Dodaj zgłoszenie</a></li>
                        <!-- Dodaj więcej elementów menu tutaj -->
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-out-primary" asp-controller="RegisterUsersForHelpdesk" asp-action="Index">Wszyscy użytkownicy</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" asp-controller="Account" asp-action="Logout">Wyloguj</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Zaloguj</a>
                </li>
            }
        </ul>
    </div>
</nav>
